<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config>

</context:annotation-config>
<!--    <bean id="yourHeart" class="org.example.Heart"> </bean>-->
<!--    <bean id="human" class="org.example.Human">-->
<!--        <property name="heart" ref="yourHeart" />-->
<!--    </bean>-->


        <!--
        <bean id="heart" class="org.example.Heart"> </bean>
        <bean id="human" class="org.example.Human" autowire="byName" >
        </bean>
        -->

    <!-- class name same as byType if id is different
    <bean id="heartObject" class="org.example.Heart"> </bean>
    <bean id="human" class="org.example.Human" autowire="byType" >
    </bean>
    -->

    <!--By using the Constructor
    <bean id="heartObject" class="org.example.Heart"> </bean>
    <bean id="human" class="org.example.Human" autowire="constructor" >
    </bean> -->


    <bean id="auctopusHeart" class="org.example.Heart">
        <property name="nameOfAnimal" value="Autopus"/>
        <property name="noOfHeart" value="3"/>
    </bean>

    <bean id="humanHeart" class="org.example.Heart">
    <property name="nameOfAnimal" value="Human"/>
    <property name="noOfHeart" value="1"/>
    </bean>

    <bean id="human" class="org.example.Human" >
    </bean>

</beans>